{% extends 'static.html' %}
{% load static %}

{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listing Unavailable</title>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  </head>
  <body>
    <style>
      .container {
        height: 600px; /* Set a height for the container */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .content {
        background-color: white;
        border-radius: 30px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
        padding: 50px;
        text-align: center; /* Optional: center the content horizontally */
        border: 1px solid #1B4DFF;
      }
    </style>
  
    <div class="container">
      <div class="content">
        <h1 style="color:#1B4DFF;">Listing Unavailable :(</h1>
        <br>
        <h3 style="color:rgb(0, 0, 0);">Possible Reasons:</h3>
        <h4 style="color:rgb(0, 0, 0);">The listing doesn't exist / The seller is not verified / The listing is not verified</h4>
      </div>
  </div>

  </body>
</html>

{% endblock %}